
<!DOCTYPE html>
<html>
<head>
    <title>AMZ 69</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Machine Learning based Amazon products Review Analyser</h1>
        <p>Analyses the most recent reviews of the product</p>
        <form action="/classify" method="POST">
            <div class="input-wrapper">
                <input type="text" id="url" name="url" {% if url %}value="{{ url }}" {% endif %}placeholder="Enter an Amazon URL" required>
                {% if url %}
                <span class="clear-url" onclick="clearUrl()">X</span>
                {% endif %}
            </div>
            <button type="submit">Scrape and Classify</button>
        </form>
        {% if reviews %}
        <div class="review-stats">
            <p>Scraped reviews: {{ reviews|length }}</p>
            <p>Good reviews: {{ predictions.count('pos') }}</p>
            <p>Bad reviews: {{ predictions.count('neg') }}</p>
        </div>
        <h2>Reviews:</h2>
        <ul>
            {% for i in range(reviews|length) %}
            <li>
                <div class="review {% if predictions[i] == 'pos' %}good{% else %}bad{% endif %}">
                    {{ reviews[i] }}
                </div>
                <div class="prediction {% if predictions[i] == 'pos' %}good{% else %}bad{% endif %}">
                    {% if predictions[i] == "pos" %}
                        Good review!
                    {% else %}
                        Bad review
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        {% if reviews is defined %}
        <p>No Reviews Found</p>
        {% endif %}
        {% endif %}

    </div>

    <script>
        function clearUrl() {
            document.getElementById('url').value = '';
        }
    </script>
</body>
</html>
